<body>
	<p id="notice"></p>

	<h1>Users</h1>

	<table>
		<thead>
  		<tr>
	      <th>image</th>
	      <th>name</th>
	      <th colspan="3"></th>
	    </tr>
		</thead>

  	<tbody>
        <% @users.each do |user| %>
        <tr>
          <td>
            <%= user.profile_image_id %>
          </td>
          <td>
            <%= user.name %>
          </td>
          <td>
            <%= user.introduction %>
          </td>
          <td>
            <%= link_to "Show", user_path(user) %>
          </td>
        </tr>
        <% end %>
     </tbody>
  </table>