<head>
	<meta charset=utf-8>
	<link rel="" href="">
	<title>WebCampBackendNew</title>
</head>

<body>
	<h1>Books</h1>
	<p>Title</p>
	<p>Body</p>
	<% @books.each do |book| %>
      	<span><%= book.title %></span>
      	<span><%= book.body %></span>
    <% end %>
</body>