<html>
  <head>

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload">
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token">
    <meta name="csrf-token" content="Ma6Dmjk5uZW7sKNspjAeoKr4SqMHX906JOk4EtXeSB+akyPKh4bziGWVkz4A+X+q1/Mfxv7wrynoqOWKitBRYA==">
  </head>

  <body>
    <p id="notice"></p>

    <h1>Books</h1>

    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Body</th>
          <th colspan="3"></th>
        </tr>
      </thead>

        <tbody>
          <tr>
            <td>リーダブルコード</td>
            <td>より良いコードを書くためのシンプルで実践的なテクニック</td>
            <td>
              <a class="show_185460" href="/books/185460">Show</a>
            </td>
            <td>
              <a class="edit_185460" href="/books/185460/edit">Edit</a>
            </td>
            <td>
              <a data-confirm="Are you sure?" class="destroy_185460" rel="nofollow" data-method="delete" href="/books/185460">Destroy</a>
            </td>
          </tr>
          <tr>
            <td>トラブル知らずのシステム設計</td>
            <td>システム設計の要点を図解で説明してくれます</td>
            <td>
              <a class="show_185461" href="/books/185461">Show</a>
            </td>
            <td>
              <a class="edit_185461" href="/books/185461/edit">Edit</a>
            </td>
            <td>
              <a data-confirm="Are you sure?" class="destroy_185461" rel="nofollow" data-method="delete" href="/books/185461">Destroy</a>
            </td>
          </tr>
          <tr>
            <td>たのしいRuby</td>
            <td>Rubyの入門におすすめです</td>
            <td>
              <a class="show_185462" href="/books/185462">Show</a>
            </td>
            <td>
              <a class="edit_185462" href="/books/185462/edit">Edit</a>
            </td>
            <td>
              <a data-confirm="Are you sure?" class="destroy_185462" rel="nofollow" data-method="delete" href="/books/185462">Destroy</a>
            </td>
          </tr>
          <tr>
            <td>入門Git</td>
            <td>gitについての基本操作から内部構造まで解説してくれます</td>
            <td>
              <a class="show_185463" href="/books/185463">Show</a>
            </td>
            <td>
              <a class="edit_185463" href="/books/185463/edit">Edit</a>
            </td>
            <td>
              <a data-confirm="Are you sure?" class="destroy_185463" rel="nofollow" data-method="delete" href="/books/185463">Destroy</a>
            </td>
          </tr>
          <tr>
            <td>アルゴリズム図鑑</td>
            <td>アルゴリズムについてカラーイラストでしっかり解説してくれます</td>
            <td>
              <a class="show_185464" href="/books/185464">Show</a>
            </td>
            <td>
              <a class="edit_185464" href="/books/185464/edit">Edit</a>
            </td>
            <td>
              <a data-confirm="Are you sure?" class="destroy_185464" rel="nofollow" data-method="delete" href="/books/185464">Destroy</a>
            </td>
          </tr>
          <tr>
            <td>達人プログラマー</td>
            <td>プログラマ入門者は必読！</td>
            <td>
              <a class="show_185465" href="/books/185465">Show</a>
            </td>
            <td>
              <a class="edit_185465" href="/books/185465/edit">Edit</a>
            </td>
            <td>
              <a data-confirm="Are you sure?" class="destroy_185465" rel="nofollow" data-method="delete" href="/books/185465">Destroy</a>
            </td>
          </tr>
          <tr>
            <td>データベース実践入門</td>
            <td>効率的なSQL文を教えてくれます</td>
            <td>
              <a class="show_185466" href="/books/185466">Show</a>
            </td>
            <td>
              <a class="edit_185466" href="/books/185466/edit">Edit</a>
            </td>
            <td>
              <a data-confirm="Are you sure?" class="destroy_185466" rel="nofollow" data-method="delete" href="/books/185466">Destroy</a>
            </td>
          </tr>
      </tbody>
    </table>


    <h2>New book</h2>
    <form class="new_book" id="new_book" action="/books" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="R8bTGiNrYhiWYyel1/1FAQu4x6FO1ZfMi48uMOyglok/ArhOT4CzC/UYR8mllRjCI6AjwbHzWXhCuTSOb9EafQ==">

      <div class="field">
        <label for="book_title">Title</label>
        <input class="book_title" type="text" name="book[title]" id="book_title">
      </div>

      <div class="field">
        <label for="book_body">Body</label>
        <textarea class="book_body" name="book[body]" id="book_body"></textarea>
      </div>

      <div class="actions">
        <input type="submit" name="commit" value="Create Book" data-disable-with="Create Book">
      </div>
    </form>
  </body>
</html>