<body>
    <p id="notice"></p>

	<p>
	  <strong>Title:</strong>
	  <%= @book.title %>
	</p>

	<p>
	  <strong>Body:</strong>
	  <%= @book.body %>
	</p>

	<a>
		<%= link_to "Edit", edit_book_path(@book) %>
	</a>

	<a class="back" href="/books">Back</a>

</body>